cycler==0.10.0
Faker==0.9.2
future==0.17.1
kiwisolver==1.0.1
matplotlib==3.0.2
mysql-connector-python==8.0.13
numexpr==2.6.8
numpy==1.15.4
pandas==0.23.4
pandastable==0.11.0
protobuf==3.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
text-unidecode==1.2
xlrd==1.1.0
